{% extends "base.html" %}

{% block body %}
    <ul class="list-group">
        {% for object in object_list %}
            <li class="list-group-item
                       {% if object.sender == request.user %}
                       list-group-item-primary text-right
                       {% else %}
                       list-group-item-secondary text-left
                       {% endif %}
                       ">

                {% if object.sender == request.user %}
                    <span>
                    {{ object.message }}
                </span>
                    <span class="badge badge-pill badge-info">
                    {{ object.sender.username }}
                </span>
                {% else %}
                    <span class="badge badge-pill badge-success">
                    {{ object.sender.username }}
                </span>
                    <span>
                    {{ object.message }}
                </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="card">
    <div class="card-body">

    <form action="{% url "messages_send" user_id=other_user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn btn-primary btn-sm"></button>
    </form>
    </div>
    </div>
{% endblock %}
