

  .jumbotron{
    background: url("source.gif") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 150px;
}

/* Category */

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

/* Items on homepage */

#items-mainpage {
  margin-top: 2%;
}

#item-image {
  border-radius: 10%;
  height: 200px;
  width: 255px;
}

#item-header {
  color: rgb(44, 44, 44);
}

#item-text{
  color: grey;
}

.card-img-top:hover {
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* item detail page  */

#itemdetail{
  margin-top: 3%;
}

#itemdetail-image{
  border-radius: 10%;
}

#itemdetail-description
{
  margin-top: 6%;
}

#itemdetail-owner{
  margin-top: 10%;
}

/* Profile Page */

.profile_item_picture {
  border-radius: 80%;
}



