{% extends 'base.html' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" style="color:white;">Renten</h1>
          <a href="" class="btn btn-info">Kayıt Ol</a><a href="" class="btn btn-success">Giriş Yap</a>
        </div>
  </div>
  <div class="container">
    <div class="row text-center">
      {%for category in items.all_categories%}
        <div class="col-1">
            <a class="btn btn-{{category.get_color_display}} btn-circle btn-circle-lg m-1">
              <i class="fa fa-{{category.get_icon_display}}"></i>
              <span>{{category.name}}</span>
            </a>
        </div>
      {% endfor %}  
      </div>
  </div>
  
{% endblock body %}