{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}


{% block body %}

<h1 style="text-align: center;">
        {% if is_me %} <a class="btn btn-secondary btn-sm"
                href="{% url "users:profile_update" %}"><small>Güncelle</small></a>{% endif %}
</h1>
<img class="card-img-top" id="item-image" src="{{ profile.profile_picture.url }}">

<p> Username = {{ profile.username }}</p>
<p> First Name = {{ profile.first_name }}</p>
<p> Last Name = {{ profile.last_name }}</p>
<p> Email = {{ profile.email }}</p>
<p> Last Login = {{ profile.last_login }}</p>
<p> Telephone = {{ profile.telephone }}</p>
<p> Birth Date = {{ profile.birth_date }}</p>
<p> Location = {{ profile.location }}</p>
{%for item in items%}
<div class="card">
        <img class="card-img-top" id="item-image" src="/media/{{ item.picture }}">
        <div class="card-body">
                <h5 class="card-title" id="item-header"><a href="">{{item.name}}</a></h5>
                <p class="card-text" id="item-text">{{item.description|truncatewords:5}}...</p>
                <p class="card-text">{{item.price}}</p>
        </div>
</div>
{%endfor%}
<br>
<hr>




{% endblock %}